{% extends 'base.html.twig' %}

{% block title %}Vos réservations passées et à venir{% endblock %}

{% block body %}
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Mes réservations</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="body">
        <h1>Mes réservations</h1>
        <div class="alert alert-info mt-5">
            <p>Retrouvez ci-dessous toutes vos réservations passées et à venir</p>
            <p>vous n'avez pas l'accée aux reservations qui sont Annulée</p>
        </div>

        {% for booking in app.user.bookings %}

            {% if booking.confirm > -1 or  (date(booking.createdAt) > date('-1days') and booking.confirm == 0  )  %}
                <div class="row mt-5">
                <div class="col-4">
                    {% if booking.confirm == 0 %}
                        <h5>Reservation en attente de confirmation....</h5>
                        <h6 style="color: red; text-align: center">Apres 24h sans reponse , la reservation sera annulée !!!</h6>
                    {% else %}
                        <h5>reservation a été confirméé par son proprietaire</h5>
                        
                        {% if booking.endDate < date()  %}
                            <h6 style="color: red; text-align: center">Location terminée le {{ booking.endDate | date('d/m/Y') }} !!!</h6>
                        {% else %}
                            <h6 style="color: red; text-align: center">vous pouvez donnez votre avis apres {{ booking.endDate.diff( date('-1days') ).days }} Jour(s)</h6>
                        {% endif %}

                    {% endif %}

                    <img src="{{ booking.ad.coverImage }}" alt="Photo de l'annonce {{ booking.ad.title }}" class="img-fluid">

                    <div class="mt-3">
                        {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <strong>Note donnée : </strong>{% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                        {% else %}
                            Vous n'avez pas encore donné de note
                            <br>
                            <a href="{{ path('booking_show', {'id': booking.id}) }}#comment">Je donne mon avis</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <h4>{{ booking.ad.title }}</h4>
                    <p>
                        Réservation <strong>n°{{ booking.id }}</strong><br>
                        Du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }} ({{ booking.amount }}Dhs)
                    </p>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-info">Plus d'informations</a>
                </div>
            </div>
            {% endif %}
            
        {% endfor %}
    </div>

{% endblock %}