{% extends 'base.html.twig' %}

{% block title %}Les demandes de reservation{% endblock %}

{% block body %}
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Les demandes des reservations</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/message.html.twig' %}


<div class="container" id="body">
    <h1>Les demandes à traiter</h1>
    <div class="alert alert-info mt-5">
        <p>Retrouvez ci-dessous toutes Les demandes de location de vos articles </p>
    </div>

    {% for ads in app.user.ads %}

        {% for booking in ads.bookings  %}

            {% if booking.confirm > -1 or  (date(booking.createdAt) > date('-1days') and booking.confirm == 0  )   %}

                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ booking.ad.coverImage }}" alt="Photo de l'annonce {{ booking.ad.title }}">
                                <a href="{{ path('demande_show' , {'id': booking.id}) }}" class="blog_item_date">
                                    <h3>{{ booking.createdAt | date("d") }}</h3>
                                    <p>{{ booking.createdAt | date("F")  }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ path('user_show', {'slug' : booking.booker.slug}) }}">
                                    <h2>Reservation de: {{ booking.booker.getFullName() }}</h2>
                                </a>
                                 {% if booking.endDate < date()  %}
                                    
                                        <h4 style="color: red;">Location terminée le {{ booking.endDate | date('d/m/Y') }} :o </h4>
                                        {% if booking.commentClient is  null %}
                                         <p>Vous pouvez <a href="{{ path('demande_show' , {'id': booking.id}) }}">commenter et donner votre avis</a> sur le client <a href="{{ path('user_show', {'slug' : booking.booker.slug}) }}">{{booking.booker}} </a> </p> 
                                        {% else %}
                                        <h2>Commentaire: </h2>
                                         <blockquote>{{ booking.commentClient.getContent() |raw }}</blockquote> 

                                             <strong>Note :</strong> {% include 'partials/rating.html.twig' with {'rating': booking.commentClient.rating} %}
                                
                                        {% endif %}
                                        
                                 {% else %}
                                    {% if booking.confirm == 0 %}
                                        <h4 style="color: red;">Demande en attente de votre reponse ;)</h4>
                                    {% else %}
                                        <h4 style="color: red;">Location est en cours! :)</h4>
                                    {% endif %}
                                 {% endif %}
                                <p>Réservation <strong>n°{{ booking.id }}</strong><br>
                                    Du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }} ({{ booking.amount }}Dhs)</p>
                                <ul class="blog-info-link">

                                    {% if booking.confirm == 1  %}
                                        <li><a href="#" disable><i class="fas fa-check-circle"></i> Reservation Confirmée</a></li>
                                    {% else %}
                                        <li><a class="genric-btn info  circle" href="{{ path('demande_confirm' , {'id': booking.id}) }}"><i class="fas fa-check-circle"></i>Confirmer</a></li>
                                        <li><a class="genric-btn danger   circle" href="{{ path('demande_delete' , {'id': booking.id}) }}"><i class="fas fa-minus-circle"></i> Refuser </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </article>

                    </div>
                </div>

            {% endif %}

        {% endfor %}
    {% endfor %}
</div>

{% endblock %}