<header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="{{ path('homepage') }}" style="color:white;">
                                        Location des Objtes
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="{{ path('homepage') }}">Acceuil</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Annonces <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{{ path('ads_index') }}">Voir Annonces</a></li>
                                                    <li><a href="{{path('ads_create')}}">Creer une annonce</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="main-menu  d-none d-lg-block text-right">
                                    <ul>
                                        {% if app.user %}
                                        <li><a href="#"> <img src="{{app.user.picture}}" alt="Avatar de {{ app.user.fullName }}" class="avatar avatar-mini">
                                                {{ app.user.fullName }} <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{{path('ads_create')}}">Creer une annonce</a></li>
                                                <li><a href="{{ path('account_index') }}">Mon compte</a></li>
                                                <li><a href="{{ path('account_bookings') }}">Mes Reservations</a></li>
                                                <li><a href="{{ path('account_profile') }}">
                                                        Modifier Mon profile
                                                    </a></li>
                                                <li><a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a></li>

                                            </ul>
                                        </li>
                                        {% else %}
                                        <li href="">
                                            <a href="{{ path('account_register') }}">Inscription</a>
                                        </li>
                                        <li href="">
                                            <a href="{{ path('account_login') }}">Connexion</a>
                                        </li>
                                        {% endif %}




                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

        {% for label, messages in app.flashes %}

            <div class="container">
                <div class="alert alert-{{ label }} text-center">
                    {% for message in messages %}
                        <p> {{ message | raw }} </p>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}