{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ ad.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block body %}

        <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Reserver</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% include 'partials/message.html.twig' %}

    <div class="container" id="body">
        <h2>Réservez pour l'annonce : {{ ad.title }}</h2>
        <p>Vous êtes sur le point de reserver le bien de <strong>{{ ad.author.fullName }}</strong>, dites nous tout on s'occupe du reste !</p>
    
        {{ form_start(form) }}
        <div class="alert alert-light">
            <h4>Commencez par nous dire quelles sont les dates qui vous intérsessent</h4>
            <div class="row">
                <div class="col">
                    {{ form_row(form.startDate)}}
                </div>
                <div class="col">
                    {{ form_row(form.endDate)}}
                </div>
            </div>
            <h4>Montant du sejour : <span id="amount"></span> Dhs</h4>
            <span id="days">0</span> jours(s) à {{ ad.price }}/jour
            <h4 class="mt-3">Vous avez un commentaire ?</h4>
            {{ form_row(form.comment) }}
        </div>

        <h4>Vous avez terminé !</h4>

        <button type="submit" class="btn btn-success">Je réserve !</button>

        {{ form_end(form)}}
    </div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        {% for day in ad.notAvailableDays %}
            {% if loop.first %}
                var date = new Date("{{ day.format('Y/m/d') }}");
                date.setDate(date.getDate() + 1 );
            {% else %}
                var dateEnd = new Date("{{ day.format('Y/m/d') }}");
                dateEnd.setDate(dateEnd.getDate() + 1 );
                if(date < dateEnd){
                    date = dateEnd;
                }
            {% endif %}
        {% endfor %}
        if(typeof date !== 'undefined'){
            const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(date)
            const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(date)
            const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(date)
            date = `${da}/${mo}/${ye}`;
        }
        $('#booking_startDate').datepicker({
            format: 'dd/mm/yyyy',
            datesDisabled: [
                {% for day in ad.notAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                {% endfor %}
            ],
            startDate: new Date((new Date()).valueOf() + 1000*3600*24)
        });
        if(typeof date !== 'undefined'){
            $('#booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                    date
                ],
                startDate: new Date((new Date()).valueOf() + 1000*3600*24*2)
            });     
        }else{
            $('#booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date((new Date()).valueOf() + 1000*3600*24*2)
            }); 
        }
        $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
    })
    function calculateAmount() {
        const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
        const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
        if(endDate && startDate && endDate > startDate)
        {   
            const DAY_TIME = 24 * 60 * 60 *1000;
            const interval = endDate.getTime() - startDate.getTime();
            const days = interval / DAY_TIME;
            const amount = days * {{ ad.price }};
            $('#days').text(days);
            $('#amount').text(amount.toLocaleString('fr-FR'));
        }
    }
</script>
{% endblock %}