{% extends 'base.html.twig' %}

{% block title %}Les demandes de reservation{% endblock %}

{% block body %}
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Demande de la reservations numero: {{ booking.id }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    {% include 'partials/message.html.twig' %}

        
    <div class="container" id="body">
        <h1>vous avez la possiblité de <strong>Confirmer</strong> ou <strong>Supprimer</strong> la demande</h1>
        <div class="alert alert-info mt-5">
            <p>Repondez à la demande de reservation de votre article ci dessus </p>
        </div>


                
             <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ booking.ad.coverImage }}" alt="Photo de l'annonce {{ booking.ad.title }}" >
                                <a href="#" class="blog_item_date">
                                    <h3>{{ booking.createdAt | date("d") }}</h3>
                                    <p>{{ booking.createdAt | date("F")  }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ path('user_show', {'id': booking.booker.id,'slug' : booking.booker.slug}) }}">
                                    <h2>Reservation de: {{ booking.booker.getFullName() }}</h2>
                                </a>
                                <br>
                                {% if booking.endDate > date()  %}
                                    <a class="genric-btn info  circle" href="/chat/{{ booking.id }}"><i class="fas fa-check-circle"></i>Discuter</a>
                                {% endif %}
                                <p>Réservation <strong>n°{{ booking.id }}</strong><br>
                                    Du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }} ({{ booking.amount }}Dhs)</p>
                                <ul class="blog-info-link">
                                {% if booking.confirm == 1  %}
                                        <li><a href="#" disable><i class="fas fa-check-circle"></i> Reservation Confirmée</a></li>
                                {% else %}
                                    {% if booking.confirm == -1 %}
                                        <li><a href="#" disable><i class="fas fa-check-circle"></i>Le temps requis pour confirmer cette reservation a expiré</a></li>
                                    {% else %}
                                    <li><a class="genric-btn info  circle" href="{{ path('demande_confirm' , {'id': booking.id}) }}"><i class="fas fa-check-circle"></i>Confirmer</a></li>
                                    <li><a class="genric-btn danger   circle" href="{{ path('demande_delete' , {'id': booking.id}) }}"><i class="fas fa-minus-circle"></i> Refuser </a></li>
                                    {% endif %}
                                {% endif %}   
                                    
                                </ul>
                            </div>
                        </article>

                    </div>
                </div>
                {% if booking.confirm != -1 %}
                    <div class="alert alert-light" id="comment">
                        <h2 class="alert-heading">Votre avis compte !</h2>
                            {% if booking.confirm == 0 %}
                            <p>Vous ne pouvez pas commenter </p>
                            <p>Cette reservation est en attente de confirmation </p>
                            <p>Apres 24h de la date de reservation cette demannde sera automatiquement <strong style="color:red">ANNULEE</strong> </p>
                            

                            {% else %}

                                {% if booking.endDate < date() %}
                                    {% if booking.commentClient is  null %}
                                    {{ form_start(form) }}
                                        {{ form_widget(form)}}
                                        <button type="submit" class="btn genric-btn danger-border">Confirmer</button>
                                        {{ form_end(form) }}
                                    {% else %}
                                        <blockquote>{{ booking.commentClient.getContent() |raw }}</blockquote> 

                                        <strong>Note :</strong> {% include 'partials/rating.html.twig' with {'rating': booking.commentClient.rating} %}
                                    {% endif %}
                                {% else %}
                                    <p>Vous pouvez pas commentez avant la fin de la location</p>
                                    <p>Revenez apres le  {{booking.endDate | date('d/m/Y')}} pour donnez votre avis</p>
                                
                                {% endif %}
                                
                                
                            
                                        
                            {% endif %}
                    </div>
                {% endif %}
    </div>

{% endblock %}