{% extends 'base.html.twig' %}

{% block title %}Réservation n°{{ booking.id }}{% endblock %}


{% block body %}
            <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Votre réservation (n°{{ booking.id }})</h3>
                        <h2 style="color : white">
                            {% if booking.confirm == 1 %}
                                Cette reservation a été confirméé par son proprietaire
                            {% else %}
                                Cette reservation est en attente de confirmation par son proprietaire
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set ad = booking.ad %}
    {% set author = ad.author %}

    <div class="container" id="body">
        <h1></h1>

        {% if app.request.query.get('withAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Bravo !</h4>
                <p>
                    Votre résevation auprés de 
                    <strong><a href="{{ path('user_show', {'id': author.id, 'slug' : author.slug}) }}">{{ author.fullName }}</a></strong>
                    pour l'annonce
                    <strong><a href="{{ path('ads_show', {'id': ad.id, 'slug' : ad.slug}) }}">{{ ad.title }}</a></strong>
                    a bien été prise en compte !
                </p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>
                        <dt class="col-md-4">Date de début</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Date de remise</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Nombre de jours</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{ booking.amount }} Dhs</dd>
                        <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{ booking.comment | default('Aucun commentaire') }}</dd>
                    </dl>

                    <hr>

                    <h2 class="alert-heading">Le propriétaire</h2>
                    <div class="row mb-3">
                        <div class="col-3">
                            <img src="{{ author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ author.fullName }}">
                        </div>
                        <div class="col">
                            <h4>
                                <a href="{{ path('user_show', {'id': author.id, 'slug' : author.slug}) }}">{{ author.fullName }}</a>
                                {% if booking.endDate > date() and booking.confirm == 1 %}
                                    <a class="genric-btn info  circle" href="/chat/{{ booking.id }}"><i class="fas fa-check-circle"></i>Discuter</a>
                                {% endif %}
                            </h4>
                            <span class="badge badge-primary" style="background: #f44a40;">{{ author.ads|length }} annonces</span>
                        </div>
                    </div>
                    {{ author.description|raw }}

                    <a href="{{ path('user_show', {'id': author.id, 'slug' : author.slug}) }}" class="btn genric-btn danger circle arrow">Plus d'infos sur {{ author.firstName }}</a>
                </div>
                <div class="alert alert-light" id="comment">
                    <h2 class="alert-heading">Votre avis compte !</h2>
                        {% if booking.confirm == 0 %}
                           <p>Cette reservation est en attente de confirmation par son proprietaire...</p>

                        {% else %}
                            
                            {% if date() > date(booking.endDate) %}
                                {% set comment = booking.ad.commentFromAuthor(app.user) %}
                                {% if comment is not null %}
                                    <blockquote>{{ comment.content | raw}}</blockquote>

                                    <strong>Note :</strong> {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                {% else %}
                                    {{ form_start(form) }}
                                    <div  style="padding-bottom:20px;">
                                        {{ form_widget(form.rating, {'attr': {'id': 'rating', 'oninput':'rating()'}}) }}
                                    </div>
                                    {{ form_widget(form.rating, {'attr': {'class': 'task_field'}}) }}
                                    <div style="padding-bottom:20px;">
                                        <a style="width:100%" class="btn genric-btn danger-border   arrow" onclick="article()">Commentaire pour l'article  loué: </a> <br>
                                        <div id="article" style="display:none;">
                                            {{form_row(form.positiveComment) }}
                                            {{form_row(form.negativeComment) }}
                                         </div>
                                    </div>
                                   <div style="padding-bottom:20px;">
                                     <a style="width:100%" class="btn genric-btn danger-border  arrow" onclick="proprietaire()">Commentaire pour le Proprietaire de l'objet: </a>
                                        <div id="proprietaire" style="display:none;">
                                            {{ form_widget(form)}}
                                        </div>
                                   </div>
                                    <button type="submit" style="width:100%" class="btn genric-btn danger">Confirmer</button>
                                    {{ form_end(form) }}
                                {% endif %}
                            {% else %}
                                <p>Vous ne pourrez pas noter cette annonce tant que votre location ne sera pas complete !</p>
                            {% endif %}
                                    
                        {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Votre article</h2>

                    <h4>
                        <a href="{{ path('ads_show', {'id': ad.id, 'slug' : ad.slug}) }}">{{ ad.title }}</a>
                    </h4>
                    <img src="{{ ad.coverImage }}" alt="Image de {{ ad.title }}" class="img-fluid">
                    {{ ad.content | raw }}

                    <a href="{{ path('ads_show', {'id': ad.id, 'slug' : ad.slug}) }}" class="btn genric-btn danger circle arrow">Plus d'informations</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
     <script>
        function proprietaire() {
        var x = document.getElementById("proprietaire");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
        
        function article() {
        var x = document.getElementById("article");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
        
     </script>
{% endblock %}