{% set url = path('ads_show', {'id' : ad.id, 'slug' : ad.slug}) %}
    
<div class="col-md-4 annonce">
    <div class="card bg-light md-3">
        <div class="card-header text-center">
            <strong>{{ ad.price }}Dhs / jour</strong> <br>
            {% if ad.comments|length > 0 %}
            {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings } %}
            {% else %}
            <small>Pas encore noté</small>
            {% endif %}
                {% if premium == 1 %}
                    <h5><i class="fas fa-medal"></i> PREMIUM</h5>
                {% endif %}
                
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="image de l'objet" style="height: 200px; width: 100%; display: block">
        </a>
        <div class="card-body">
            <a href="{{ url }}">
                <h4 class="card-title">{{ ad.title }}</h4>
            </a>
            <p class="card-text"> {{ ad.introduction }} </p>
            <div class="button-group-area mt-10">
            <a href="{{ url }}" class="genric-btn danger circle">En savoir plus</a>

            {% if app.user and app.user == ad.author %}
        
                <a href="{{ path('ads_edit', {'id': ad.id, 'slug': ad.slug }) }}" class="genric-btn danger-border circle">Modifier l'annonce</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>