{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}


         <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Modifier l'annonce : {{ ad.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
       </div>  

    <div class="container">
        <h1>Modifier l'annonce : {{ ad.title }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}
         

        <button type="submit "class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}

<script src="/js/ad.js"></script>

{% endblock %}