{% extends 'base.html.twig' %}

{% block title %}annonces{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block body %}

    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Voici les annonces de nos propriétaires</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container" style="padding-top:20px">
        <button  style="margin-bottom:20px" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" id="trigger-filter-form">Filtrer <i class="fas fa-angle-down"></i></button>
        <div class="alert alert-light" id="filter-form" style="display: none;">
        {{ form_start(form) }}
            <div class="row">
               <div class="col-md-4">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.subCategory) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.startPrice) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.endPrice) }}
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col py-3 px-3">
                    <button type="submit" class="genric-btn danger">Chercher</button>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    <div class="row">
        {% set premium = 0 %}
        {% for ad in ads %}
            {% include 'ad/_ad.html.twig' %}
        {% endfor %}
    </div>
<nav class="blog-pagination justify-content-center d-flex">

    {{ knp_pagination_render(ads) }}
    </nav>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function(){
        $('#startDate, #endDate').datepicker({
            format: 'dd/mm/yyyy',
            startDate: new Date()
        });
        var cat = $("#category option:selected").text();
            const url = "/ads/subCategory";
            if(cat === "Toutes les categories")
            {
                $("#subCategory option").remove();
            }else{
                    axios.post(url, {
                    category: cat
                })
                .then(function (response) {
                    $("#subCategory option").remove();
                    $('#subCategory').append($("<option></option>").attr("value", 0).text("Preciser :"));
                    $.each(response.data, function (key, value) {
                        $('#subCategory').append($("<option></option>").attr("value", value.id).text(value.title));
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        $("#category").on('change', function () {
            var cat = $("#category option:selected").text();
            const url = "/ads/subCategory";
            if(cat === "Toutes les categories")
            {
                $("#subCategory option").remove();
            }else{
                    axios.post(url, {
                    category: cat
                })
                .then(function (response) {
                    $("#subCategory option").remove();
                    $('#subCategory').append($("<option></option>").attr("value", 0).text("Preciser :"));
                    $.each(response.data, function (key, value) {
                        $('#subCategory').append($("<option></option>").attr("value", value.id).text(value.title));
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        });
        $('#trigger-filter-form').click(function(){
            $('#filter-form').toggle("slow");
        });
    });

</script>
{% endblock %}