{% extends 'base.html.twig' %}

{% block title %}annonces{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-3"> Voici les annonces de nos propriétaires </h1>
        <button class="btn btn-primary mb-3" id="trigger-filter-form">Filtrer <i class="fas fa-angle-down"></i></button>
        <div class="alert alert-light" id="filter-form" style="display: none;">
        {{ form_start(form) }}
            <div class="row">
               <div class="col-md-4">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.subCategory) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.startPrice) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.endPrice) }}
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col py-3 px-3">
                    <button type="submit" class="btn btn-secondary">Chercher</button>
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    <div class="row">
        {% for ad in ads %}
            {% include 'ad/_ad.html.twig' %}
        {% endfor %}
    </div>
    <div class="navigation">
    {{ knp_pagination_render(ads) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function(){
        $('#filter_startDate, #filter_endDate').datepicker({
            format: 'dd/mm/yyyy',
            startDate: new Date()
        });
        $('#filter_category').prepend($("<option></option>").attr("value", 0).text("Toutes les categories"));
        $('#filter_category option[value="0"]').prop('selected', true);
        $("#filter_subCategory option").remove();
        $("#filter_category").on('change', function () {
            var cat = $("#filter_category option:selected").text();
            const url = "/ads/subCategory";
            if(cat === "Toutes les categories")
            {
                $("#filter_subCategory option").remove();
            }else{
                    axios.post(url, {
                    category: cat
                })
                .then(function (response) {
                    $("#filter_subCategory option").remove();
                    $('#filter_subCategory').append($("<option></option>").attr("value", 0).text("Preciser :"));
                    $.each(response.data, function (key, value) {
                        $('#filter_subCategory').append($("<option></option>").attr("value", value.id).text(value.title));
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        });
        $('#trigger-filter-form').click(function(){
            $('#filter-form').toggle("slow");
        });
    });

</script>
{% endblock %}