{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Profil de  {{ user.fullName }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            <img src="{{ user.picture }}" alt="Avatar de {{ user.fullName }}" class="avatar mb-3">
            <br>
            <span class="badge badge-primary">{{ user.ads | length}} annonces </span>
        </div>
        <div class="col-9">
            <h1>{{ user.fullName }}</h1>
            {% if user is same as(app.user) %}
            <div class="mt-3">
                <a class="genric-btn danger circle arrow" href="{{path('account_profile')}}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
                <a class="genric-btn danger circle arrow" href="{{ path('account_password') }}" class="btn btn-primary mb-2"> Changer mon mot de passe</a>
            </div>
            {% endif %}
        </div>
    </div>

    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Presentation : </h3>
            <p class="sample-text">{{ user.description | raw }} </p>
        </div>
    </section>



    <hr>
    {% if user is same as(app.user) %}
    <h2>Vos annonces</h2>
    {% else %}
    <h2>Les annonces de {{ user.fullName }}</h2>
    {% endif %}

    {% if user.ads | length > 0 %}
    <div class="row">
    {% set premium = 0 %}
        {% for ad in user.ads %}
        {% if ad.blackListed != true %}
        {% include 'ad/_ad.html.twig' %}
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">
        {% if user is same as(app.user) %}
        <p>Vous n'a pas encore d'annonces sur le site</p>
        {% else %}
        <p><strong>{{ user.fullName }}</strong> n'a pas encore d'annonces sur le site</p>
        {% endif %}
    </div>
    {% endif %}

<div>
    <h3 style="padding-top:20px">Les Commentaire : </h3>
    {% set total = 0 %}
    {% set nbr = 0 %}
    {% for location in user.bookings %}
        {% if location.commentClient is not null %}
        {% set comment = location.commentClient  %}
        {% set nbr = nbr+1 %} {% set total = total + comment.rating %}
        <div class="comment-list" style="padding: 20px">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb" style="padding-right:10px"> <a href="{{path('user_show', {'slug': comment.author.slug})}}">
                            <img class="avatar avatar-medium" src="{{comment.author.picture}}" alt="">
                        </a> </div>
                    <div class="desc">
                        <h5>
                            <a href="{{path('user_show', {'slug': comment.author.slug})}}">{{ comment.author.firstName }} {{ comment.author.lastName }} : </a>
                            <small><i>{{comment.createdAt | date()}}</i></small>
                        </h5>
                        <small>Apres la location de l'objet : -> <a style="color:red" href="{{path('ads_show', {'slug' : location.ad.slug})}}">{{location.ad}}</a></small>
                        <p class="comment"> {{ comment.content |raw }} </p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <p class="date"><strong>la note de </strong>
                                    {% include 'partials/rating.html.twig' with {'rating': comment.rating } %}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    {% endfor %}
</div>

{% if nbr > 0 %}
     <div class="alert alert-info">
                <h4 class="alert-heading text-center">
                    <div class="row align-items-center">
                        <div class="col">
                            Note globale donnée par les proprietaires:
                        </div>
                        <div class="col">
                            {% include 'partials/rating.html.twig' with {'rating': total/nbr } %}
                            <br>
                            <small>(calculée sur {{ nbr }} avis)</small>
                        </div>
                    </div>
                </h4>
            </div>
{% else %}
    <h2>Ce client n'a pas encore reçu de commentaires</h2>
{% endif %}
</div>



{% endblock %}